@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  font-family: Lato;
  font-size: 15px;
  color: #373D3F;
}

pre code {
  font-size: 15px;
}


/*---- "details" element ----*/
/* usually used for exercise answers */

details {
/*  background: #373c3e;
  color: #f1f3f4;*/
  padding: .5rem 1rem;
}

details summary {
  cursor: pointer;
  font-weight: bold;
}

details summary > * {
  display: inline;
}


/*---- Initialise Counters -----*/

:root {
  counter-reset: question figure;
}


/*---- Boxes ---- */
/* at the moment all have same colour, but this can be adjusted in the future */

.box,
.warning,
.note,
.highlight,
.exercise {
  padding: 1em 1em 1em 3em;
  /* specify the image properties */
  background-repeat: no-repeat;
  background-position: 0.5em 1em;
  background-size: 2em;
  margin: 10px;
  /*border: 3px black;
  border-style: solid;*/
  background-color: #f7f8fa;
  /*box-shadow: 0 0 3px 2px #eceef2;*/
  color: black;
}

.warning:before,
.note:before,
.highlight:before,
.exercise:before {
  font-weight: bold;
  font-size: 13px;
  color: black;
}

.warning {
  background-color: #fff6f5;
  box-shadow: 0 0 3px 2px #fce4e1;
  background-image: url("img/warning.svg"); /* https://fonts.gstatic.com/s/i/materialiconsoutlined/error_outline/v11/24px.svg */
}

.note {
  background-color: #ebebf2;
  color: #1b1b1b;
  box-shadow: 0 0 3px 2px #ebebf2;
  background-image: url("img/note.svg"); /*https://fonts.gstatic.com/s/i/materialiconsoutlined/info/v15/24px.svg*/
}

.highlight {
  background-image: url("img/highlight.svg"); /* https://fonts.gstatic.com/s/i/materialiconsoutlined/tips_and_updates/v1/24px.svg */
  border-left: 10px solid #28828a;
}

.exercise {
  background-color: #fef9f1;
  box-shadow: 0 0 3px 2px #fcedd7;
  background-image: url("img/exercise.svg"); /* https://fonts.gstatic.com/s/i/materialiconsoutlined/quiz/v8/24px.svg */
}
.exercise:before {
  counter-increment: question;
  content: "EXERCISE " counter(question);
}

.box {
  padding-left: 1em;
}


/*---- Image captions ----*/

.figure {
  display: table;
  float: none;
  text-align: center;
  font-size: 13px;
  text-indent: 0;
  /*border: 1px solid;
  border-radius: 10px;*/
  box-shadow: grey 0 5px 15px;
  margin: 1.5em 0.5em 2em 0.5em;
  padding: 0.5em 0.5em 0 0.5em;
}
.caption {
  padding-top: 0.5em;
}
.caption:before {
  counter-increment: figure;
  font-weight: bold;
  content: "Figure " counter(figure) ": ";
}


/*---- Site Template ----*/
/* changes the Rmarkdown default to match our UoC theme */

/* Table of contents */
.list-group-item:hover {
  font-weight: bold;
}
.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #28828a;
  border-color: #28828a;
}
.list-group-item.active:focus,
.list-group-item.active:hover {
  color: #fff;
  background-color: #28828a;
  border-color: #28828a;
  font-weight: bold;
}

/* Navigation bar */
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
  color: white;
}

.navbar,
.navbar-default,
.navbar-default .navbar-nav > li > a {
  background-color: #106470;
  color: white;
}

.navbar-default .navbar-nav > .active > a {
  background-color: #28828a;
  color: white;
}

.navbar-nav > li > .dropdown-menu,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > li > a:hover,
.dropdown-menu > li > a,
.dropdown-menu > .active > a {
  background-color: #003a41;
  color: white;
}

.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  background-color: #106470;
  color: white;
}

.dropdown-header {
  color: white;
}

.dropdown-menu .divider {
  background-color: #106470;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  background-color: #003a41;
  color: white;
}
