@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  font-family: Lato;
  font-size: 15px;
  color: #373D3F;
  counter-reset: question;
}

pre code {
  font-size: 15px;
}


/*---- styling the "details" element ----*/

details {
/*  background: #373c3e;
  color: #f1f3f4;*/
  padding: .5rem 1rem;
}

details summary {
  cursor: pointer;
  font-weight: bold;
}

details summary > * {
  display: inline;
}


/*---- Boxes ---- */
/* at the moment all have same colour, but this can be adjusted in the future */

.box, .warning, .note, .keypoints, .objectives, .tip, .exercise {
  padding: 1em 1em 1em 3em;
  /* specify the image properties */
  background-repeat: no-repeat;
  background-position: 0.5em 1em;
  background-size: 2em;
  margin: 10px;
  /*border: 3px black;
  border-style: solid;*/
  background-color: #f7f8fa;
  box-shadow: 0 0 3px 2px #eceef2;
  color: black;
}

.warning:before, .note:before, .keypoints:before, .objectives:before, .tip:before, .exercise:before {
  font-weight: bold;
  font-size: 13px;
  color: black;
}

.warning {
  background-color: #fff6f5;
  box-shadow: 0 0 3px 2px #fce4e1;
  background-image: url("https://fonts.gstatic.com/s/i/materialiconsoutlined/error_outline/v11/24px.svg");
}
.warning:before {
  content: "WATCH OUT";
}

.note {
  background-image: url("https://fonts.gstatic.com/s/i/materialiconsoutlined/info/v15/24px.svg");
}
.note:before {
  content: "NOTE";
}

.tip {
  background-image: url("https://fonts.gstatic.com/s/i/materialiconsoutlined/tips_and_updates/v1/24px.svg");
}

.exercise {
  background-color: #fef9f1;
  box-shadow: 0 0 3px 2px #fcedd7;
  background-image: url("https://fonts.gstatic.com/s/i/materialiconsoutlined/quiz/v8/24px.svg");
}
.exercise:before {
  counter-increment: question;
  content: "EXERCISE " counter(question);
}


.box {
  padding-left: 1em;
}


/*
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.box, .warning, .question, .info, .keypoint {
  padding: .5em 1em .5em 1em;
  background-repeat: no-repeat;
  background-position: 0.5em 1em;
  background-size: 2em;
  margin: 10px;
  border: 3px #373c3e;
  border-style: solid;
  background-color: #f1f3f4;
}


.warning:before, .question:before, .info:before, .keypoint:before {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 36px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  padding-bottom: 10px;
  padding-right: 3px;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  -moz-osx-font-smoothing: grayscale;
}


*/


/*


.question {
  border: 3px #373c3e;
  border-style: solid;
  background-color: #f1f3f4;
  color: #373c3e;
  background-image: url("icons/question.png");
}


.keypoint {
  border: 3px #373c3e;
  border-style: solid;
  background-color: #f1f3f4;
  color: #373c3e;
  background-image: url("icons/keypoints.png");
}
*/
